.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    background-color: darkslategray;
    color: burlywood;
}

.navright a{
    text-decoration: none;
    color: burlywood;
    margin-left: 25px; 
}
.navright a:hover{
    color: orangered; 
}